.flexRowContent--desktop__home--section2 {
    max-width: min(90vw, 67.5rem);
    margin   : 0 auto;
}

.flexRow--desktop__home--section3 {
    background-color: #a19b98;
    padding         : 2rem;
    margin-top      : 50px;
    margin-bottom   : 45px;
}

.flexRowContent--desktop__home--section3 {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto
}

.flexRowContent--desktop__home--section3 .stretchChildrenWidth {
    width: auto !important;
}

.flexRow--desktop__section4--slider {
    max-width: 72.5rem;
    margin   : 0 auto;
}

.flexRow--desktop__home--section4 {
    margin-bottom: 50px;
}

.flexRow--desktop__home--section5 {
    margin-bottom: 2rem;
}

.flexRow--desktop__home--section6 {
    margin-bottom: 2rem;
}

.flexRowContent--desktop__home--section6 {
    max-width: 76.25rem;
    margin   : 0 auto;
}

.flexRowContent--desktop__home--section6 .stretchChildrenWidth:first-child {
    margin-right: 17.5px;
}

.flexRowContent--desktop__home--section6 .stretchChildrenWidth:last-child {
    margin-left: 17.5px;
}

.flexRow--desktop__home--section7 {
    padding         : 0 2rem;
    background-color: #a19b98;
    margin-top      : 50px;
}

.flexRowContent--desktop__home--section7,
.flexRowContent--desktop__home--section8 {
    max-width: 76.25rem;
    margin   : 0 auto;
}

.flexColChild--desktop__home--section7 {
    width: auto !important;
}

.flexRowContent--desktop__section7--pillows,
.flexCol--desktop__section7--plainpillows,
.flexCol--desktop__section7--patternedpillows {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%;
}

.flexRowContent--desktop__section7--pillows .stretchChildrenWidth,
.flexColChild--desktop__section7--plainpillows,
.flexColChild--desktop__section7--patternedpillows {
    position: relative;
    margin  : auto;
    overflow: hidden;
    width   : 100% !important;
}

.flexRow--desktop__home--section7 {
    padding-bottom: 2.5rem;
}

.flexCol--desktop__section7--plainpillows {
    margin-right: 17.5px;
}

.flexCol--desktop__section7--patternedpillows {
    margin-left: 17.5px;
}

.flexRow--desktop__home--section8 {
    margin-top   : 50px;
    margin-bottom: 50px;
}

.flexRowContent--desktop__home--section8 {
    column-gap: 10px;
}

.flexCol--desktop__section8--firstcol,
.flexCol--desktop__section8--secondcol {
    position: relative;
}

.flexCol--desktop__section8--secondcol {
    row-gap        : 10px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.flexColChild--desktop__section8--firstcol {
    overflow  : hidden;
    max-height: 25rem !important;
}

.flexColChild--desktop__section8--secondcol {
    max-height: calc(12.25rem - 5px);
    height    : auto !important;
    overflow  : hidden;
}

.flexRowContent--desktop__home--section10 {
    justify-content: center;
    align-items    : center;
    margin-top     : 50px;
    margin-bottom  : 25px;
}

.flexRowContent--desktop__home--section10 .stretchChildrenWidth {
    width: auto !important;
}

.flexRow--desktop__home--section11 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.flexRowContent--desktop__home--section11 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}