.drawer--global__minicart {
    padding-top: 1.125rem;
    max-width  : 25rem !important;
}

.drawerContent--global__minicart {
    height: 100%;
}

.childrenContainer--global__minicart {
    height: 100%;
}

.minicartSideBarContentWrapper--global__minicart {
    height: 100% !important;
}


.minicartTitle--global__minicart-base-content {
    font-size: 0;
}

.minicartTitle--global__minicart-base-content::before {
    content    : "Mi Compra";
    color      : #555;
    font-size  : 20px;
    font-weight: 700;
    line-height: 32px;
}

.closeIconContainer--global__minicart {
    justify-content: flex-end;
    padding        : 0;
    right          : 1rem;
    position       : absolute;
    height         : 2rem;
    z-index        : 2;
}

.closeIconButton--global__minicart {
    padding: 0;
}

.openIconContainer--global__minicart {
    padding: 0;
}

.minicartSummary--global__minicart--summary {
    padding: 0;
}

.minicartCheckoutButton--global__minicart--checkoutbutton {
    padding: 0;
}

.minicartCheckoutButton--global__minicart--checkoutbutton :global(.vtex-button) {
    height          : 60px;
    background-color: #ff0093;
    border-radius   : 8px;
    font-size       : 0;
    border-color    : #ff0093;
}

.minicartSummary--global__minicart--summary :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
    color      : #909090;
    font-size  : 12px;
    font-weight: 700;
    line-height: 16px;
}

:global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button__label)::before {
    content    : "FINALIZAR COMPRA";
    color      : #fff;
    font-size  : 16px;
    font-weight: 400;
    line-height: 24px;
}

.minicartProductListContainer--global__minicart-product-list {
    overflow-x: hidden;
}

.minicartProductListContainer--global__minicart-product-list :global(.vtex-flex-layout-0-x-flexRow--global__minicart--list):last-child {
    border-bottom: 1px solid #eee;
}

.minicartSummary--global__minicart--summary :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
    flex-direction : column;
    justify-content: center;
    align-items    : flex-start;
}

.minicartSummary--global__minicart--summary :global(.vtex-checkout-summary-0-x-summaryItemContainer):first-child,
.minicartSummary--global__minicart--summary :global(.vtex-checkout-summary-0-x-summaryItemContainer):first-child :global(.vtex-checkout-summary-0-x-summaryItemLabel):first-child {
    color      : #555;
    font-size  : 18px;
    font-weight: 400 !important;
    line-height: 22px;
}

.minicartSummary--global__minicart--summary :global(.vtex-checkout-summary-0-x-summaryItemPrice) {
    font-size  : 20px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
}

.minicartQuantityBadge--global__minicart {
    background-color: #f7f7f6;
    color           : #ff0093;
    font-size       : 12px;
    font-weight     : 700;
    line-height     : 16px;
    top             : 0;
    right           : -1.375rem;
}

.openIconContainer--global__minicart :global(.vtex-button__label) {
    padding: 0 !important;
}

.closeIcon--global__minicart {
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .minicartWrapperContainer--global__minicart {
        right: 1.1rem;
    }
}

@media screen and (max-width: 640px) {
    .minicartWrapperContainer--global__minicart {
        right: 0.7rem;
    }
}