.heading--global__footer--infotitle {
    color      : #555;
    font-size  : 18px;
    font-weight: 700;
    line-height: 20px;
    margin     : 0 0 0.813rem;
}

.container--global__footer--customersupport-title {
    padding-top: 1rem;
    border-top : 1px solid #b9b9b9;
}

.heading--global__footer--infotitle1 {
    margin-bottom: 1.25rem;
}

.heading--global__footer--customersupport-title {
    margin: 0;
}

.paragraph--global__footer--customersupport-text {
    margin-bottom: 2.75rem;
    margin-top   : 0.25rem;
    color        : #555;
    font-size    : 14px;
    font-weight  : 400;
    line-height  : 23px;
}

.paragraph--global__footer--repentance {
    border         : 1px solid #909090;
    text-decoration: none;
    padding        : 1rem;
    cursor         : pointer;
    border-radius  : 8px;
    margin         : -1rem 0;
}

.paragraph--global__footer--block3 {
    color      : #909090;
    font-size  : 14px;
    font-weight: 400;
    line-height: 20px;
    margin     : 0;
}

.strong--global__footer--block3,
.link--global__footer--block3 {
    color      : #555;
    font-weight: 500;
}

.container--global__footer--customersupport-text {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .heading--global__footer--infotitle {
        margin-bottom: 0;
        font-size    : 16px;
    }

    .heading--global__footer--infotitle1 {
        margin-bottom: 0.5rem;
    }
}