@media screen and (max-width: 640px) {
    .sliderTrack--global__home--section4 {
        height: 382px;
    }

    .slide--global__home--section4 {
        height: 100%;
    }

    .sliderLeftArrow--global__home--section4 {
        left: calc((((100vw - 22rem) / 2) * -1) + 1rem);
    }

    .sliderRightArrow--global__home--section4 {
        right: calc((((100vw - 22rem) / 2) * -1) + 1rem);
    }
}