@media screen and (max-width: 640px) {
    .flexRowContent--global__section4--price {
        flex-direction: column;
        align-items   : flex-start;
        bottom        : 26%;
    }

    .flexColChild--mobile__home--section4 {
        max-width: 22rem;
        margin   : 0 auto;
    }
}

.flexRowContent--mobile__home--section2 {
    max-width: 20rem;
    margin   : 0 auto;
}