.flexRow--desktop__header--row2 {
    height: 1.8125rem;
}

.flexRowContent--desktop__header--row1,
.flexRowContent--mobile__header--row1 {
    display        : flex;
    justify-content: space-between;
}

.flexRowContent--desktop__header--row2 {
    max-width: 80rem;
    margin   : 0 auto;
}

.flexRow--desktop__header--row1 {
    height         : 88px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexRow--header__container--col-3 {
    width       : auto;
    margin-right: 2rem;
}


.flexCol--desktop__header--link {
    margin-left: 2rem;
    width      : 136px;
}

.flexColChild--desktop__header--link {
    width : inherit;
    height: auto;
}