.flexRowContent--desktop__header--row1,
.flexRowContent--mobile__header--row1 {
    display        : flex;
    justify-content: space-between;
}
.flexRow--desktop__header--row1{ 
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRow--header__container--col-3 {
    width       : auto;
    margin-right: 2rem;
}


.flexCol--desktop__header--link {
    margin-left: 2rem;
    width      : 130px;
}

.flexColChild--desktop__header--link {
    width : inherit;
    height: auto;
}