/* Example desktop:
.styledLinkContainer {
    margin: 0 12px;
} */

.styledLinkContainer--desktop__item--department {
    padding: 0;
}

.styledLink--desktop__item--department {
    color      : #555;
    font-size  : 16px;
    font-weight: 700;
    line-height: 24px;
}

.submenuContainer--desktop__block--department1 {
    position: absolute;
    left    : 0;
}

.submenuWrapper--desktop__block--department1 {
    /* display: flex;
    justify-content: center; */
    background-size : cover;
    background-image: url("assets/img/desktop__submenu1--background.png");
    width           : 100vw;
}

.submenu--desktop__block--department1 {
    justify-content: center;
    width          : auto;
    margin         : 0 auto;
}

.submenu--desktop__block--medidas {
    justify-content: flex-start;
}

.submenuContainer--desktop__block--medidas {
    position: absolute;
    left    : 250.09px;
    width   : 100vw;
}

.flexCol--desktop__container--submenu {
    width: 195px;
}

.submenuWrapper--desktop__block--medidas {
    position        : fixed;
    background-color: white;
    height          : 360px;
    top             : 164px;
    left            : calc(((100vw - 839px) / 2) + 195px);
    width           : 644px;
}