.flexRowContent--global__section3--item {
    margin-top: 10px;
}

.flexCol--global__section3--text {
    align-items: flex-start;
}

.flexRowContent--global__section4--price .stretchChildrenWidth {
    width: auto !important;
}

.flexRowContent--global__section4--price {
    position: absolute;
    bottom  : 19%;
}

@media screen and (max-width: 1024px) {
    .flexCol--global__section11--itemcol {
        width: auto !important;
    }
}

@media screen and (max-width: 980px) {
    .flexRowContent--global__section4--price {
        flex-direction: column;
        align-items   : flex-start;
        bottom        : 26%;
    }
}

@media screen and (max-width: 640px) {
    .flexCol--global__section11--itemcol {
        padding: 0 1.25rem 0;
    }
}