.flexRow--global__pdp--breadcrumb :global(.vtex-store-components-3-x-container) {
    margin-left : 0;
    padding-left: 1.25rem
}

.flexColChild--desktop__pdp--details {
    height: auto !important;
}

.flexColChild--global__pdp--addcart :global(.vtex-add-to-cart-button-0-x-buttonText--global__card) {
    font-size  : 1rem !important;
    font-weight: 400;
}

.flexRow--global__pdp--name-share {
    min-height    : 59px;
    margin-bottom : 0.75rem;
    padding-bottom: 0.75rem;
}

.flexRow--global__pdp--price {
    min-height: 88.39px;
}

.flexRowContent--global__pdp--price {
    align-items   : center;
    border-bottom : 1px solid hsla(0, 0%, 89%, .5);
    padding-bottom: 23px;
    min-height    : 72px;
}

.flexRow--global__pdp--skuselector {
    min-height: 99px;
}

.flexRowContent--global__pdp--quantity-and-addcart .stretchChildrenWidth:first-child {
    width: 100% !important;
}

@media screen and (min-width: 1024px) {


    .flexRowContent--global__pdp--quantity-and-addcart .stretchChildrenWidth {
        width    : unset !important;
        max-width: 30% !important;
    }
}

.flexRow--global__pdp--quantity-and-addcart {
    margin-bottom: 1rem;
}

.flexColChild--global__pdp--addcart :global(.vtex-button) {
    background-color: #ff0093;
    border-radius   : 8px;
    height          : 3.125rem;
    margin-left     : 0;
}

.flexCol--global__pdp--images-specifiactions {
    margin-left: 10px;
    max-width  : 23.313rem;
}

.flexRowContent--global__pdp--description-images {
    justify-content: space-between;
}

.flexRowContent--global__pdp--description-images .stretchChildrenWidth {
    width: auto;
}

.flexCol--global__pdp--images-specifiactions {
    margin-left: 10px;
    max-width  : 23.313rem;
}


.flexCol--global__pdp--share :global(.vtex-modal-layout-0-x-triggerContainer--global__pdp--share) {
    background-color: hsla(0, 0%, 89.8%, .3);
    border-radius   : 50%;
    display         : flex;
    height          : 35px;
    padding         : 5px;
    width           : 35px;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-button) {
    border-radius   : 8px;
    border          : 1px solid #555;
    max-height      : 2.75rem;
    max-width       : 6.25rem;
    display         : flex;
    justify-content : center;
    background-color: transparent;
    text-decoration : none;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-button__label) {
    color         : #fff;
    border-radius : 8px;
    text-transform: none;
    padding       : 0.8125rem 0 !important;
    height        : 100% !important;
    width         : 100% !important;
    font-size     : 0;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-button__label)::before {
    content       : "calcular";
    color         : #555;
    font-size     : 14px;
    text-transform: uppercase;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-store-components-3-x-shippingContainer) {
    margin        : 0 auto;
    padding-bottom: 1.25rem;
    width         : 80%;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-dropdown__label) {
    color         : #555;
    font-size     : .875rem;
    font-weight   : 500;
    letter-spacing: normal;
    line-height   : 1.25rem;
    text-align    : left;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-dropdown__container) {
    color           : #444;
    font-size       : 13px;
    padding         : 0;
    background-color: #fff;
    border          : 1px solid #d4d4d4;
    height          : 44px;
    border-radius   : 8px;
    line-height     : 18.5px;
}

.flexRowContent--global__pdp--calculate-shipping :global(.vtex-dropdown__button) {
    color           : #909090;
    font-size       : 13px;
    background-color: #fff;
    border          : 1px solid #d4d4d4;
    height          : 44px;
    border-radius   : 6px;
    line-height     : 18.5px;
}

.flexRow--global__pdp--payment-methods {
    margin        : 0 auto;
    padding-bottom: 1.25rem;
    width         : 80%;
}

.flexRowContent--global__pdp--tab-layout {
    margin-top     : 2rem;
    justify-content: space-around;
    padding        : 2.25rem 35px 2.25rem 0;
}

.flexRowContent--desktop__section4--title-other-products,
.flexRowContent--desktop__section4--title-other-customers,
.flexRowContent--desktop__section4--title-also-interesting {
    border-top    : 1px solid hsla(0, 0%, 43.9%, .1);
    max-width     : 85rem;
    margin        : auto;
    padding       : 2.8125rem 2rem 0;
    flex-direction: column;
}

.flexRowContent--desktop__section4--title-other-customers,
.flexRowContent--desktop__section4--title-also-interesting {
    border: 0;
}

.flexCol--desktop__pdp--slider-other-products,
.flexCol--desktop__pdp--slider-other-customers,
.flexCol--desktop__pdp--slider-also-interesting {
    max-width: 100%;
    padding  : 0;
    margin   : 50px auto;
}

.flexRow--global__pdp--description-images {
    margin-top: 1.25rem;
}

.flexRowContent--global__pdp--description-images .stretchChildrenWidth:last-child {
    display        : flex;
    justify-content: flex-end;
}

.flexRowContent--global__pdp--images-representative .stretchChildrenWidth {
    margin-right: 1rem;
}

@media screen and (max-width: 1024px) {
    .flexCol--global__pdp--addcart {
        bottom  : calc(-100vh + 50px);
        left    : 0;
        position: fixed;
        z-index : 16516516516516;
    }
}

@media screen and (max-width:640px) {

    .flexRow--global__pdp--description-images {
        margin-top: 0.75rem;
    }

    .flexRow--global__pdp--breadcrumb :global(.vtex-store-components-3-x-container) {
        padding-left: 0.5rem;
    }

    .flexRowContent--global__pdp--images-specifications {
        margin-top : 2rem;
        margin-left: 10px;
        width      : 369.24px;
    }
}

@media screen and (max-width: 480px) {
    .flexRowContent--global__pdp--quantity-and-addcart .stretchChildrenWidth:last-child {
        display: none !important;
    }
}

@media screen and (min-width: 640px) {

    .flexRow--desktop__pdp--product {
        max-width: 1360px;
        margin   : 0 auto;
        padding  : 0 2rem;
    }

    .flexRow--global__pdp--tab-layout {
        max-width: 1360px;
        margin   : 0 auto;
        padding  : 0 2rem;
    }

    .flexRowContent--desktop__pdp--product {
        padding-left : 1rem;
        padding-right: 1rem;
    }

    .flexCol--desktop__pdp--details {
        max-width: 30.375rem
    }

    .flexCol--mobile__pdp--details {
        padding-left: 2%;
    }

}

@media screen and (min-width: 1280px) {
    .flexRowContent--desktop__pdp--product {
        padding-left : 0.25rem;
        padding-right: 0.25rem;
    }
}