.forceCenter--global__logo--container {
    top : 17px;
    left: -1px;
}

@media screen and (max-width: 1024px) {
    .forceCenter--global__logo--container {
        top : 8px;
        left: -8px;
    }
}

@media screen and (max-width: 640px) {

    .forceCenter--global__logo--container {
        left: -2px;
    }
}