.flexColChild--global__card--list :global(.vtex-button) {
    background-color: #ff0093;
    border-radius   : 8px;
    margin-top      : 0.25rem;
    height          : 2.25rem;
    min-height      : 0;
    width           : 123px;
}

.flexColChild--global__plp--gallery {
    width: 100%;
}

.flexColChild--global__card--list :global(.vtex-product-summary-2-x-nameContainer--global__card),
.flexColChild--global__card--list :global(.vtex-product-summary-2-x-SKUSelectorContainer--global__card),
.flexColChild--global__card--list .flexRowContent--global__card--price,
.flexColChild--global__card--list :global(.vtex-product-price-1-x-installments) {
    display        : flex;
    justify-content: flex-start;
}

.flexColChild--global__card--list :global(.vtex-button) {
    width: 100%;
}

.flexRowContent--global__card--list-container {
    justify-content: space-between;
}

.flexRowContent--global__card--list-container .stretchChildrenWidth {
    width    : 30% !important;
    max-width: 256px;
}

.flexRowContent--global__card--price .stretchChildrenWidth {
    width: auto !important;
}

@media screen and (max-width: 1024px) {
    .flexColChild--global__card--list :global(.vtex-product-price-1-x-installments) {
        display  : flex;
        flex-wrap: wrap;
    }

    .flexRowContent--global__card--list-container .stretchChildrenWidth {
        width: 40% !important;
    }

    .flexRowContent--global__card--price .stretchChildrenWidth {
        width: auto !important;
    }
}

@media screen and (max-width: 480px) {

    .flexRowContent--global__card--list-container .stretchChildrenWidth {
        width: 47.5% !important;
    }

    .flexRowContent--global__card--price .stretchChildrenWidth {
        width: auto !important;
    }
}