.drawer--mobile__drawer--menu {
    width: 20.313rem !important;
}

.drawer--mobile__drawer--search {
    width: 20.313rem !important;
}

.drawerContent--mobile__drawer--menu {
    padding   : 0 1.25rem;
    height    : 100vh;
    overflow-x: hidden;
}

.childrenContainer--mobile__drawer--menu {
    display       : flex;
    flex-direction: column;
    height        : 88.5%;
}

.closeIconContainer--mobile__drawer--search {
    justify-content: flex-end;
}

.childrenContainer--mobile__drawer--search :global(.vtex-store-components-3-x-searchBarContainer) {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.closeIconButton--mobile__menu--closebutton {
    padding   : 0;
    margin-top: 14px;
    width     : auto;
}

.closeIcon--mobile__menu--closebutton {
    width   : 24px;
    height  : 24px;
    display : block;
    position: relative;
    left    : -5px;
}

.openIconContainer--mobile__drawer--menu {
    padding-left: 0;
}