@media screen and (max-width: 1024px) {
    .flexRowContent--global__section4--price {
        flex-direction: column;
        align-items   : flex-start;
        bottom        : 22%;
    }
}


.flexRow--mobile__home--section3 {
    background-color: #a19b98;
    padding         : 2rem;
    margin-top      : 50px;
    margin-bottom   : 45px;
    overflow-x      : hidden;
}

.flexRowContent--mobile__home--section3 {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto
}

.flexRowContent--mobile__home--section3 .stretchChildrenWidth {
    width: auto !important;
}

.flexColChild--mobile__section3--slider :global(.vtex-slider-layout-0-x-sliderLayoutContainer--global__home--section3) {
    padding       : 0 2rem;
    padding-bottom: 20px;
}

.flexRow--mobile__home--section4 {
    margin-bottom: 50px;
}

.flexRow--mobile__home--section5 {
    margin-bottom: 2rem;
}


.flexRow--mobile__home--section6 {
    margin-bottom: 2rem;
}

.flexRowContent--mobile__home--section6 {
    padding: 0 0.875rem;
}


.flexRowContent--mobile__home--section6 .stretchChildrenWidth:first-child {
    margin-right: 17.5px;
}

.flexRowContent--mobile__home--section6 .stretchChildrenWidth:last-child {
    margin-left: 17.5px;
}

.flexRow--mobile__home--section7 {
    padding         : 0 2rem;
    background-color: #a19b98;
    margin-top      : 50px;
}

.flexRowContent--mobile__home--section7 {
    max-width: 76.25rem;
    margin   : 0 auto;
}

.flexColChild--mobile__home--section7 {
    width: auto !important;
}

.flexRowContent--mobile__section7--differentspillows {
    align-items: flex-start;
}

.flexRowContent--mobile__section7--pillows,
.flexCol--mobile__section7--plainpillows,
.flexCol--mobile__section7--patternedpillows {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%;
}

.flexRowContent--mobile__section7--pillows .stretchChildrenWidth,
.flexColChild--mobile__section7--plainpillows,
.flexColChild--mobile__section7--patternedpillows {
    position: relative;
    margin  : auto;
    overflow: hidden;
    width   : 100% !important;
}

.flexRow--mobile__home--section7 {
    padding-bottom: 2.5rem;
}

.flexCol--mobile__section7--plainpillows {
    margin-right: 0.5rem;
}

.flexCol--mobile__section7--patternedpillows {
    margin-left: 0.5rem;
}

.flexRow--mobile__home--section8 {
    margin-top   : 50px;
    margin-bottom: 50px;
}

.flexRowContent--mobile__home--section8 {
    column-gap: 10px;
    padding   : 10px;
}

.flexCol--mobile__section8--firstcol,
.flexCol--tablet__section8--secondcol {
    position: relative;
}

.flexCol--tablet__section8--secondcol {
    row-gap        : 10px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.flexColChild--mobile__section8--firstcol {
    overflow       : hidden;
    max-height     : auto !important;
    height         : 100% !important;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexColChild--tablet__section8--secondcol {
    max-height: calc(17.25rem - 5px);
    height    : auto !important;
    overflow  : hidden;
}

.flexRowContent--mobile__home--section10 {
    justify-content: center;
    align-items    : center;
    margin-top     : 50px;
    margin-bottom  : 25px;
}

.flexRowContent--mobile__home--section10 .stretchChildrenWidth {
    width: auto !important;
}

@media screen and (max-width: 768px) {

    .flexRowContent--mobile__home--section6 .stretchChildrenWidth:first-child {
        margin-right: 0.25rem
    }

    .flexRowContent--mobile__home--section6 .stretchChildrenWidth:last-child {
        margin-left: 0.25rem
    }
}

@media screen and (max-width: 640px) {

    .flexRowContent--mobile__home--section8 .stretchChildrenWidth:first-child {
        width: 100% !important;
    }

    .flexRowContent--mobile__home--section8 .stretchChildrenWidth:last-child {
        display: none !important;
    }
}