@media screen and (max-width: 1023px) {
    .flexRowContent--global__section4--price {
        flex-direction: column;
        align-items: flex-start;
        bottom: 22%;
    }
}


.flexRow--mobile__home--section3 {
    background-color: #a19b98;
    padding         : 2rem;
    margin-top      : 50px;
    margin-bottom   : 45px;
    overflow-x      : hidden;
}

.flexRowContent--mobile__home--section3 {
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0 auto
}

.flexRowContent--mobile__home--section3 .stretchChildrenWidth {
    width: auto !important;
}

.flexColChild--mobile__section3--slider :global(.vtex-slider-layout-0-x-sliderLayoutContainer--global__home--section3) {
    padding       : 0 2rem;
    padding-bottom: 20px;
}

.flexRow--mobile__home--section4 {
    margin-bottom: 50px;
}